<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" xmlns:layout="http://wwww.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout.html}">

<head>

</head>

<body>

  <section class="row" layout:fragment="content">
    <div class="col mt-4">
      <form action="" method="" enctype="multipart/form-data" th:object="${product}">
        <div class="card">
          <div class="card-header">
            <h2>Infomation Product</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3 text-center">
                <img src="Template/images/logo.png" width="90%"
                  class="img-fluid rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                <div class="form-group">

                  <!-- <img src="/Template/images/banner3.jpg" alt="" width="240" height="350"> -->
                  <img id="image"
                    th:src="${product.image!= null? '/admin/products/images/' + product.image : 'images/noimage.jpg'}"
                    width="240" height="350" class="img-fluid" alt="">

                </div>
                

              </div>
              <div class="col-7">

                <div class="form-group">
                  <h3 th:text="${product.name}"></h3>
                </div>
                <div class="form-group">
                  <label >Quantity</label>
                  <h4 th:text="${product.quantity}"> </h4>
                </div>


                <div class="input-group form-group ml-7" >
                  <h3 th:text="${product.unitPrice}" style="color: orange;"></h3>
                  <span style="color: orange;">$</span>
                
                </div>
                <button class="btn btn-success" th:formaction="'/shoppingCart/add/'+ ${product.productId}">Them vao gio hang</button>
                <button class="btn btn-primary">Mua</button>

              </div>
              <!-- <img src="/Template/images/banner.jpg" alt=""> -->

            </div>

          </div>

        </div>
      </form>
    </div>
  </section>

</body>

</html>